<div style="text-align:center">
    <h1>
        Welcome Super Admin!
    </h1>
    <p>
        <button (click)="logout()">
            Logout
        </button>
    </p>


    <div>
        <input type="text" class="form-control" [(ngModel)]="member_name" name="member_name" />
    </div>
    <span>{{member_name}}</span>
    <div>
    <button class="btn btn-danger" style="width:100px" (click)="exercise1(member_name)"> Search</button>
</div>
    </div>



<!-- <nav class="navbar navbar-light bg-primary">    
    <span class="navbar-brand mb-0 h1 text-light">SATYAPRAKASH SAMANTARAY'S RECOGNITIONS AND AWARDS</span>    
  </nav> -->